<html>
    <head>
        <title>I Love Lamps.com</title>
    </head>
    <body>
        <div id="header">
            <img src='/img/logo.jpg' height='100px' />
            <h1>I Love Lamps.com</h1>
        </div>

        <div id="content">
            <%= yield %>
        </div>
    </body>

</html>
